.pin {
    background-color: #aaa;
    background-image: linear-gradient(left, hsla(0,0%,100%,.2), hsla(0,0%,0%,.2));
    display: block;
    height: 2em;
    left: 50%;
    margin: -1em -.05em;
    position: absolute;
    top: 0;
    width: .1em;
    -webkit-transition: top 500ms; /* Safari */
    transition: top 500ms;
  }
  .pin:after {
    background-color: navy;
    background-image: radial-gradient(25% 25%, circle, hsla(0,0%,100%,.2), hsla(0,0%,0%,.2));
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1),
                inset .2em .2em .2em hsla(0,0%,100%,.2),
                inset -.2em -.2em .2em hsla(0,0%,0%,.2),
                1.5em 1.25em .25em hsla(0,0%,0%,.15);
    content: '';
    height: .8em;
    left: -.35em;
    position: absolute;
    top: -.65em;
    width: .8em;
  }
  .pin:before {
    background-color: hsla(0,0%,0%,.1);
    box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
    content: '';
    height: 1.5em;
    left: 0;
    position: absolute;
    top: .5em;
    transform: rotate(57.5deg);
    transform-origin: 50% 100%;
    width: .1em;
  }

  .pin:hover {
    top: -1em;
  }